In [0]:
import pandas as pd
import numpy as np

In [0]:
df1=pd.read_csv('./data/tmdb_5000_credits.csv')
df2=pd.read_csv('./data/tmdb_5000_movies.csv')

In [0]:
df1.columns = ['id','title','cast','crew']
df2= df2.merge(df1,on='id')



```
# calculate C
```

In [89]:
C= df2['vote_average'].mean()
C

6.092171559442011



```
# calculate m
```

In [90]:
m= df2['vote_count'].quantile(0.9)
m

1838.4000000000015

In [91]:
q_movies = df2.copy().loc[df2['vote_count'] >= m]
q_movies.shape

(481, 23)


```
#Calculate weighted rating
```

In [0]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [0]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)



```
#sorting according to calculated score
```

In [0]:
q_movies = q_movies.sort_values('score', ascending=False)



```
#top ten movies
```

In [95]:
q_movies[['original_title', 'vote_count', 'vote_average', 'score']].head(10)

                                     original_title  ...     score
1881                       The Shawshank Redemption  ...  8.059258
662                                      Fight Club  ...  7.939256
65                                  The Dark Knight  ...  7.920020
3232                                   Pulp Fiction  ...  7.904645
96                                        Inception  ...  7.863239
3337                                  The Godfather  ...  7.851236
95                                     Interstellar  ...  7.809479
809                                    Forrest Gump  ...  7.803188
329   The Lord of the Rings: The Return of the King  ...  7.727243
1990                        The Empire Strikes Back  ...  7.697884

[10 rows x 4 columns]